2025/06/Sx7uWTjQf9MNevOI.json
{
  "active": true,
  "connections": {
    "Mastodon RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Retrieve all items from feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all items from feed": {
      "main": [
        [
          {
            "node": "Webhook Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-12T13:41:14.043Z",
  "id": "Sx7uWTjQf9MNevOI",
  "isArchived": false,
  "meta": null,
  "name": "Mastodon to Bluesky - user_2ohkpBb0T7JKu7dClbPaBJlca5S",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://norden.social/@konzentrik.rss"
      },
      "id": "e65b12be-e68f-43b2-9d8d-81950cc13f5a",
      "name": "Mastodon RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.sociab.li/mastodon-to-bluesky",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ARNOLD-sklave4falle"
            },
            {
              "name": "x-user-id",
              "value": "user_2ohkpBb0T7JKu7dClbPaBJlca5S"
            },
            {
              "name": "x-sociabli-workflow-id",
              "value": "1c74f5c7-3dc5-4c51-a6d0-0c5d15b70d94"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"link\": \"{{ $('Retrieve all items from feed').item.json.link }}\", \"contentSnippet\": {{ $('Retrieve all items from feed').item.json.contentSnippet.quote().replaceAll('\\n','\\\\n') }} }",
        "options": {}
      },
      "id": "d46affae-6c10-4fa0-a6e2-2e1187c690c9",
      "name": "Webhook Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Mastodon RSS Feed Trigger').all();"
      },
      "id": "16d1c85d-d7f6-4275-b5bf-bd86f70e4932",
      "name": "Retrieve all items from feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": null,
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Mastodon RSS Feed Trigger": {
      "lastItemDate": "2025-07-30T08:11:59.000Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-12T13:41:14.340Z",
  "versionId": "bd89ab08-254d-4de7-a068-72aa3a26f4a4"
}