2025/03/OLeSefGzlzVL5CiE.json
{
  "active": true,
  "connections": {
    "YADL RSS Read": {
      "main": [
        [
          {
            "node": "Filter by GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by GUID": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Article for Post  in LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Article for Bookmark in LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If has image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has image": {
      "main": [
        [
          {
            "node": "Fetch image as binary stream",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simple note in LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YADL Webhook on publish": {
      "main": [
        [
          {
            "node": "YADL RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image as binary stream": {
      "main": [
        [
          {
            "node": "Image note in LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T08:19:58.765Z",
  "id": "OLeSefGzlzVL5CiE",
  "isArchived": false,
  "meta": null,
  "name": "YADL Publishing",
  "nodes": [
    {
      "parameters": {
        "url": "https://yadl.info/en/feed.rss",
        "options": {}
      },
      "id": "e162d29a-a893-44c7-ba4e-c050cd2ea22f",
      "name": "YADL RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1060,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e2bf966-875c-4a96-bf56-08390da6fda0",
              "leftValue": "={{ $json.guid }}",
              "rightValue": "={{ $('YADL Webhook on publish').item.json.body.uuid }}",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "373a73cd-2b42-4709-9511-fd95ecebb94a",
      "name": "Filter by GUID",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -840,
        180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('YADL Webhook on publish').item.json.body.template }}",
                    "rightValue": "post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85a67eaa-aaf2-4abe-96b2-24feacad38b9",
                    "leftValue": "={{ $('YADL Webhook on publish').item.json.body.template }}",
                    "rightValue": "bookmark",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bookmark"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfb97d63-1dae-4f62-bfaf-93a2a65bf39e",
                    "leftValue": "={{ $('YADL Webhook on publish').item.json.body.template }}",
                    "rightValue": "note",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Note"
            }
          ]
        },
        "options": {}
      },
      "id": "a2f287ba-1e1e-4e75-a72b-009473fb4233",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -620,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4643a27a-b910-40ed-8aee-849e98c839eb",
              "leftValue": "={{ $('YADL Webhook on publish').item.json.body.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "faea218c-e2c4-4e4d-9ef5-28cc5b6556aa",
      "name": "If has image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "2cc8342d-9d4f-4493-aae1-49d0d663ea43",
      "name": "YADL Webhook on publish",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        180
      ],
      "webhookId": "79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "252CwNWEalvGQfQ6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {
          "title": "={{ $('Filter by GUID').item.json.title }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "90521a46-c1fd-4d34-a47e-fc28a41cfa72",
      "name": "Image note in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        220,
        360
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('YADL Webhook on publish').item.json.body.image }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3a91844b-1689-4904-a530-468cfc92e5c0",
      "name": "Fetch image as binary stream",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ]
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.intro }} ",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "={{ $json.link }}",
          "title": "={{ $json.title }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "aff208c8-0f5f-4e5c-97b7-6c3cd09db243",
      "name": "Article for Post  in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.text }}",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "={{ $('Filter by GUID').item.json.link }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "73450628-a2c9-416a-89aa-19a4787b2752",
      "name": "Article for Bookmark in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.text }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "ad6e1cb8-8538-4059-8f7a-a852a7c8cd7e",
      "name": "Simple note in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    }
  ],
  "pinData": {
    "YADL Webhook on publish": [
      {
        "json": {
          "headers": {
            "host": "workflows.sociab.li",
            "cf-ray": "95ad4dad8d23452e-TXL",
            "x-forwarded-for": "85.13.131.92",
            "content-length": "3013",
            "cf-connecting-ip": "85.13.131.92",
            "accept-encoding": "gzip, br",
            "x-forwarded-host": "workflows.sociab.li",
            "x-forwarded-proto": "https",
            "content-type": "application/json",
            "authorization": "Bearer SAFTIG1great@gattung",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "accept": "*/*",
            "cdn-loop": "cloudflare; loops=1",
            "x-forwarded-server": "TXL",
            "cf-ipcountry": "DE",
            "x-request-id": "2a5ae809-3fb6-9ad1-8786-7fbe08aafbe4",
            "x-koyeb-route": "15e785fd-4492-4458-920b-41ac43a47090-5678_prod",
            "x-koyeb-service-id": "15e785fd-4492-4458-920b-41ac43a47090",
            "x-koyeb-host-port": "15e785fd-4492-4458-920b-41ac43a47090:5678",
            "x-koyeb-original-host": "workflows.sociab.li",
            "x-koyeb-deployment-id": "124e8406-9010-4a5b-92f2-757810640de8",
            "x-koyeb-glb": "fra",
            "x-envoy-original-path": "/webhook/79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
            "x-koyeb-backend": "fra",
            "x-b3-traceid": "d4516e3876b4cdb2",
            "x-b3-spanid": "decdb0f68ad9a69c",
            "x-b3-parentspanid": "ee5cd65a57cf7d47",
            "x-b3-sampled": "1"
          },
          "params": {},
          "query": {},
          "body": {
            "uuid": "RjC0WYrAl2eESOdP",
            "url": "https://yadl.info/en/@/page/RjC0WYrAl2eESOdP",
            "title": "Weekly review cw 27",
            "intro": "My experience report of the online creation studio Riverside – the first attempts to record the Server Side Stories episodes remotely.",
            "text": "### Podcasts with Riverside – a recap\nTwo episodes with guests are planned for the beginning of next week. In contrast to the [first attempt](https://konzentrik.de/de/server-side-stories/se01/gast-stefan-bothe) with our guest Stefan Bothe, these episodes will be recorded remotely. We wanted to select and test a tool in advance. A test run like this saved us from the worst.\n\nWe found the best sound quality with [Riverside](https://riverside.fm/). Accordingly, we used it for our first attempt. Everything seems intuitive and logical. Maurice set up the trial account and rolled out the \"red carpet\" for the recording. To give me as many rights as possible, he invited me as a producer.\n\n(image: file://toc15xshahivunqu caption: Invitation in the Mac app – unclear about Producer not being recorded)\n\nAfter about 60 minutes of recording, the episode was done – or so we thought. Maurice's video and audio were available. My video and audio, however, were not. They weren't even in the cloud backup. After conducting some research, we gained an understanding of what was happening. And on the second attempt with the invitation via the web interface, it became clear why there was no recording of me.\n\n(image: file://h7ctidxed3ctofoj caption: Invitation on the web - obvious Producer will not be recorded)\n\nThe subtle difference between the app and the web could have saved us from the problem. As a producer, the invitation means I can work in the background, but I'm not part of the recording process. That was an incredibly frustrating experience.\n\nFortunately, that was the only negative experience using Riverside. The other recordings worked perfectly. The result is of the highest quality. The transcript is in German and also fantastic. There are also shorts that we can use for YouTube. This enables us to expand our social media strategy, and we're happy to invest in the comprehensive Pro features.\n\n### Reduced sports program\nI'm currently dissatisfied with my athletic efforts. Due to the heat in the middle of the week, I was so exhausted in the evenings that I couldn't get on the yoga mat. I tell myself that this rest period should be after the active period from April to June. As the digital yoga teacher preaches, allow it and be grateful.\n\n- **Monday** Table Tennis\n- **Tuesday** Yoga\n- **Wednesday** Rest day due to the heat\n- **Thursday** Rest day\n- **Friday** Table Tennis\n- **Saturday** Club management course\n- **Sunday** Climbing park\n\nIf you'd like, follow me on [Strava](https://www.strava.com/athletes/mark-schmeiser).",
            "image": "https://yadl.info/media/pages/blog/2025/weekly-review-cw-27/81ae781fa3-1750400981/cw27.jpg",
            "template": "post"
          },
          "webhookUrl": "https://workflows.sociab.li/webhook/79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-07T13:08:20.726Z",
  "versionId": "fe5d8f05-ba5f-4696-b5b8-b1633093b2c8"
}