2025/03/OLeSefGzlzVL5CiE.json
{
  "active": true,
  "connections": {
    "YADL RSS Read": {
      "main": [
        [
          {
            "node": "Filter by GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by GUID": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Article for Post  in LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Article for Bookmark in LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If has image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has image": {
      "main": [
        [
          {
            "node": "Fetch image as binary stream",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simple note in LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YADL Webhook on publish": {
      "main": [
        [
          {
            "node": "YADL RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image as binary stream": {
      "main": [
        [
          {
            "node": "Image note in LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T08:19:58.765Z",
  "id": "OLeSefGzlzVL5CiE",
  "meta": null,
  "name": "YADL Publishing",
  "nodes": [
    {
      "parameters": {
        "url": "https://yadl.info/en/feed.rss",
        "options": {}
      },
      "id": "e162d29a-a893-44c7-ba4e-c050cd2ea22f",
      "name": "YADL RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1060,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e2bf966-875c-4a96-bf56-08390da6fda0",
              "leftValue": "={{ $json.guid }}",
              "rightValue": "={{ $('YADL Webhook on publish').item.json.body.uuid }}",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "373a73cd-2b42-4709-9511-fd95ecebb94a",
      "name": "Filter by GUID",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -840,
        180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('YADL Webhook on publish').item.json.body.template }}",
                    "rightValue": "post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85a67eaa-aaf2-4abe-96b2-24feacad38b9",
                    "leftValue": "={{ $('YADL Webhook on publish').item.json.body.template }}",
                    "rightValue": "bookmark",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bookmark"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfb97d63-1dae-4f62-bfaf-93a2a65bf39e",
                    "leftValue": "={{ $('YADL Webhook on publish').item.json.body.template }}",
                    "rightValue": "note",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Note"
            }
          ]
        },
        "options": {}
      },
      "id": "a2f287ba-1e1e-4e75-a72b-009473fb4233",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -620,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4643a27a-b910-40ed-8aee-849e98c839eb",
              "leftValue": "={{ $('YADL Webhook on publish').item.json.body.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "faea218c-e2c4-4e4d-9ef5-28cc5b6556aa",
      "name": "If has image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "2cc8342d-9d4f-4493-aae1-49d0d663ea43",
      "name": "YADL Webhook on publish",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        180
      ],
      "webhookId": "79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "252CwNWEalvGQfQ6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {
          "title": "={{ $('Filter by GUID').item.json.title }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "90521a46-c1fd-4d34-a47e-fc28a41cfa72",
      "name": "Image note in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        220,
        360
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('YADL Webhook on publish').item.json.body.image }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3a91844b-1689-4904-a530-468cfc92e5c0",
      "name": "Fetch image as binary stream",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ]
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.intro }} ",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "={{ $json.link }}",
          "title": "={{ $json.title }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "aff208c8-0f5f-4e5c-97b7-6c3cd09db243",
      "name": "Article for Post  in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.text }}",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "={{ $('Filter by GUID').item.json.link }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "73450628-a2c9-416a-89aa-19a4787b2752",
      "name": "Article for Bookmark in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    },
    {
      "parameters": {
        "person": "GRrpRnLTSb",
        "text": "={{ $('YADL Webhook on publish').item.json.body.text }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "ad6e1cb8-8538-4059-8f7a-a852a7c8cd7e",
      "name": "Simple note in LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "oFoMRg5Sw33br1kb",
          "name": "LinkedIn N8N"
        }
      }
    }
  ],
  "pinData": {
    "YADL Webhook on publish": [
      {
        "json": {
          "headers": {
            "host": "workflows.sociab.li",
            "cf-ray": "93c77948bde5e51f-TXL",
            "x-forwarded-for": "85.13.131.92",
            "content-length": "300",
            "cf-connecting-ip": "85.13.131.92",
            "accept-encoding": "gzip, br",
            "x-forwarded-host": "workflows.sociab.li",
            "x-forwarded-proto": "https",
            "content-type": "application/json",
            "authorization": "Bearer SAFTIG1great@gattung",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "accept": "*/*",
            "cdn-loop": "cloudflare; loops=1",
            "x-forwarded-server": "TXL",
            "cf-ipcountry": "DE",
            "x-request-id": "baef5d20-8337-9a54-bee7-7925d651e859",
            "x-koyeb-route": "15e785fd-4492-4458-920b-41ac43a47090-5678_prod",
            "x-koyeb-service-id": "15e785fd-4492-4458-920b-41ac43a47090",
            "x-koyeb-host-port": "15e785fd-4492-4458-920b-41ac43a47090:5678",
            "x-koyeb-original-host": "workflows.sociab.li",
            "x-koyeb-glb": "fra",
            "x-envoy-original-path": "/webhook/79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
            "x-koyeb-backend": "fra",
            "x-b3-traceid": "aedc3ad5bbd3d7ba",
            "x-b3-spanid": "ec31cba2ad0b0ece",
            "x-b3-parentspanid": "b3ee894cbe650d10",
            "x-b3-sampled": "1"
          },
          "params": {},
          "query": {},
          "body": {
            "uuid": "eDo9JBor0jMHNB7h",
            "url": "https://yadl.info/en/@/page/eDo9JBor0jMHNB7h",
            "title": "yadl demo-5",
            "intro": "more intro",
            "text": "more content - yippie",
            "image": "https://yadl.info/media/pages/blog/2025/yadl-demo-5/149f6b9631-1746690391/pexels-jmendezrf-1536619.jpg",
            "template": "post"
          },
          "webhookUrl": "https://workflows.sociab.li/webhook/79efd29a-0ab2-45f1-bec9-a0262bf0a22c",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-08T08:20:51.117Z",
  "versionId": "58d3b06a-005a-4e0c-97b9-ad1fe7f2c9a6"
}