2025/04/4qCmavuqkNQTnbiL.json
{
  "active": true,
  "connections": {
    "Mastodon RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Retrieve all items from feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all items from feed": {
      "main": [
        [
          {
            "node": "Webhook Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-17T12:44:57.636Z",
  "id": "4qCmavuqkNQTnbiL",
  "meta": null,
  "name": "Mastodon to Bluesky - user_2ohkpBb0T7JKu7dClbPaBJlca5S",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://mastodon.online/@mauricerenck.rss"
      },
      "id": "55908643-161b-4186-b684-c47ba83a5658",
      "name": "Mastodon RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.sociab.li/mastodon-to-bluesky",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ARNOLD-sklave4falle"
            },
            {
              "name": "x-user-id",
              "value": "user_2ohkpBb0T7JKu7dClbPaBJlca5S"
            },
            {
              "name": "x-sociabli-workflow-id",
              "value": "0eb5ebc7-e587-468c-8056-f29b61d163d7"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"link\": \"{{ $('Retrieve all items from feed').item.json.link }}\", \"contentSnippet\": {{ $('Retrieve all items from feed').item.json.contentSnippet.quote().replaceAll('\\n','\\\\n') }} }",
        "options": {}
      },
      "id": "0fdcc485-1cec-4326-9dce-7e4429f56256",
      "name": "Webhook Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Mastodon RSS Feed Trigger').all();"
      },
      "id": "ee5cd4d7-f6ea-4683-ac7f-b2acd39e1d68",
      "name": "Retrieve all items from feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": null,
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Mastodon RSS Feed Trigger": {
      "lastItemDate": "2025-05-26T15:21:14.000Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-17T12:44:57.881Z",
  "versionId": "7a9b033b-ad40-4124-af80-fb9ed476d64c"
}