2025/04/FcqEZCrtw8ME3uC4.json
{
  "active": true,
  "connections": {
    "Webhook APEL Github Actions": {
      "main": [
        [
          {
            "node": "Discord Apel Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Lemon Squeezy": {
      "main": [
        [
          {
            "node": "Discord tools kzk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-01T13:29:40.138Z",
  "id": "FcqEZCrtw8ME3uC4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "kzk Discord Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-github-apel",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -20
      ],
      "id": "2b206b83-da69-48f6-82cd-558b61a34c9d",
      "name": "Webhook APEL Github Actions",
      "webhookId": "8f5cb045-ee71-46b1-941d-4382c4d428a5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXAC3EQRHO3ka4di",
          "name": "Header Auth Discord Webhook"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        140,
        -20
      ],
      "id": "7eca8914-1a72-466c-8cc7-f9a799b5672b",
      "name": "Discord Apel Logs",
      "webhookId": "a7859dfa-19a6-47c4-a21b-35b7e9868774",
      "credentials": {
        "discordWebhookApi": {
          "id": "PiCcKUcX4MN3aKxG",
          "name": "Discord Webhook GitHub APEL"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-lemon-squeezy",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        200
      ],
      "id": "c21c4f59-0a15-48fb-a2ed-2672fb39e994",
      "name": "Webhook Lemon Squeezy",
      "webhookId": "8f5cb045-ee71-46b1-941d-4382c4d428a5"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "= {{ $json.body.data.attributes.user_name }} hat [{{ $json.body.data.attributes.first_order_item.product_name }}]({{ $json.body.data.attributes.urls.receipt }}) für {{ $json.body.data.attributes.total_formatted }} gekauft.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        140,
        200
      ],
      "id": "95d0b0e9-80a9-45fb-b92f-8baa5f11debf",
      "name": "Discord tools kzk",
      "webhookId": "a7859dfa-19a6-47c4-a21b-35b7e9868774",
      "credentials": {
        "discordWebhookApi": {
          "id": "acgA2aksGr6N8fM7",
          "name": "Discord Webhook tools konzentrik"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-06-12T14:37:27.105Z",
  "versionId": "cc2330ab-8730-4870-b4d8-87f8bcc4aa68"
}