2025/04/fegoVQQdwAbFYN62.json
{
  "active": true,
  "connections": {
    "Mastodon RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Retrieve all items from feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all items from feed": {
      "main": [
        [
          {
            "node": "Webhook Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T07:33:32.818Z",
  "id": "fegoVQQdwAbFYN62",
  "isArchived": false,
  "meta": null,
  "name": "Mastodon to Bluesky - user_2p1lqDc5WqDnigjN8AtrWSGprO5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1
            }
          ]
        },
        "feedUrl": "https://romancelandia.club/@Booksofmyheart.rss"
      },
      "id": "126074ff-a0c1-460f-b63f-d070afe84e00",
      "name": "Mastodon RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.sociab.li/mastodon-to-bluesky",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ARNOLD-sklave4falle"
            },
            {
              "name": "x-user-id",
              "value": "user_2p1lqDc5WqDnigjN8AtrWSGprO5"
            },
            {
              "name": "x-sociabli-workflow-id",
              "value": "81cf6d8a-fde7-47eb-903b-2ad492d265cf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"link\": \"{{ $('Retrieve all items from feed').item.json.link }}\", \"contentSnippet\": {{ $('Retrieve all items from feed').item.json.contentSnippet.quote().replaceAll('\\n','\\\\n') }} }",
        "options": {}
      },
      "id": "1774b580-3c68-43c9-a559-18c6c946cd20",
      "name": "Webhook Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Mastodon RSS Feed Trigger').all();"
      },
      "id": "d5503835-7282-479a-8785-0ec7f52282dc",
      "name": "Retrieve all items from feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": {},
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Mastodon RSS Feed Trigger": {
      "lastItemDate": "2025-07-23T03:01:38.000Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-17T07:40:49.079Z",
  "versionId": "72e025b9-acdf-4f8d-b5fc-7c2ec0398109"
}