2025/04/M117qGAmnedMZ8nD.json
{
  "active": true,
  "connections": {
    "Mastodon RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Retrieve all items from feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all items from feed": {
      "main": [
        [
          {
            "node": "Webhook Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-01T12:43:36.471Z",
  "id": "M117qGAmnedMZ8nD",
  "isArchived": false,
  "meta": null,
  "name": "Mastodon to Bluesky - user_2perOxcHuftpsWoI42ej41ZtV1O",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://social.makerforums.info/@Spark.rss"
      },
      "id": "c81c8035-87ca-4b95-86a0-a2abfde97e8c",
      "name": "Mastodon RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.sociab.li/mastodon-to-bluesky",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ARNOLD-sklave4falle"
            },
            {
              "name": "x-user-id",
              "value": "user_2perOxcHuftpsWoI42ej41ZtV1O"
            },
            {
              "name": "x-sociabli-workflow-id",
              "value": "51c2e83f-9c69-42fd-a2c0-cc1b068e2375"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"link\": \"{{ $('Retrieve all items from feed').item.json.link }}\", \"contentSnippet\": {{ $('Retrieve all items from feed').item.json.contentSnippet.quote().replaceAll('\\n','\\\\n') }} }",
        "options": {}
      },
      "id": "e925876a-844d-4db2-92df-5fa64cee5c75",
      "name": "Webhook Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Mastodon RSS Feed Trigger').all();"
      },
      "id": "06496dfc-b1c2-49ce-a1d4-25605198f314",
      "name": "Retrieve all items from feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": {},
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Mastodon RSS Feed Trigger": {
      "lastItemDate": "2025-07-27T12:58:15.000Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T08:03:26.154Z",
  "versionId": "7a420a54-8126-469a-a2d0-38803a3ded78"
}