2025/04/XUHGH6cJofjiAoKv.json
{
  "active": true,
  "connections": {
    "Mastodon RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Retrieve all items from feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all items from feed": {
      "main": [
        [
          {
            "node": "Webhook Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-16T10:54:00.771Z",
  "id": "XUHGH6cJofjiAoKv",
  "isArchived": false,
  "meta": null,
  "name": "Mastodon to Bluesky - user_2ohkpBb0T7JKu7dClbPaBJlca5S",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://mastodon.social/@sociabli.rss"
      },
      "id": "30e6dd02-a6a0-4faa-842b-3d957c6a12f6",
      "name": "Mastodon RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.sociab.li/mastodon-to-bluesky",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ARNOLD-sklave4falle"
            },
            {
              "name": "x-user-id",
              "value": "user_2ohkpBb0T7JKu7dClbPaBJlca5S"
            },
            {
              "name": "x-sociabli-workflow-id",
              "value": "efda7b3b-22e9-43e8-adae-8f3ca23a6d75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"link\": \"{{ $('Retrieve all items from feed').item.json.link }}\", \"contentSnippet\": {{ $('Retrieve all items from feed').item.json.contentSnippet.quote().replaceAll('\\n','\\\\n') }} }",
        "options": {}
      },
      "id": "6dad8eb5-b4f2-4546-b77d-8e29804a4502",
      "name": "Webhook Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Mastodon RSS Feed Trigger').all();"
      },
      "id": "d139fa5b-aabf-4fa8-b8d7-a64b0389eb6a",
      "name": "Retrieve all items from feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": null,
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Mastodon RSS Feed Trigger": {
      "lastItemDate": "2025-08-13T09:23:55.000Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-16T10:54:01.331Z",
  "versionId": "a98776a8-204a-48f9-95b0-407c30680a01"
}