test22025/03/KUIUToPWXDqkNmmm.json
{
  "active": true,
  "connections": {
    "Webhook Remove": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord missing workflow id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T08:18:56.827Z",
  "id": "KUIUToPWXDqkNmmm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sociabli - Remove workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "remove-workflow",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "60eb4dac-37b9-4e16-94be-39823aaa3fd8",
      "name": "Webhook Remove",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -200
      ],
      "webhookId": "5d1b79c7-fc33-479f-94ac-62f8411a3729",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MtH8NhJ2WVIxUvv1",
          "name": "Webhook Sociabli"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://smoggy-rosabelle-konzentrik-754b049a.koyeb.app/api/v1/workflows/{{ $('Webhook Remove').first().json.body.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('Webhook Remove').first().json.body.n8nApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "32068f19-cf54-41d9-a712-e276295841e6",
      "name": "Delete workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95e591b3-3a8b-4dd8-8080-f3ddfcc8b78c",
              "leftValue": "={{ $json.body.workflowId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -200
      ],
      "id": "36b04318-4474-4ab1-93dd-befd50e6597c",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=User [{{ $('Webhook Remove').item.json.body.userId }}](https://dashboard.clerk.com/apps/app_2nVtHHsD4oh11Yp0fdfKlaudw6X/instances/ins_2ohethzud7ytkfDKijVS3AqBW00/users/{{ $('Webhook Remove').item.json.body.userId }}) try to remove workflow without a \"workflowId\"\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        320,
        -120
      ],
      "id": "b3e53b32-3408-4df3-aeb3-7f46fe1a10b3",
      "name": "Discord missing workflow id",
      "webhookId": "a7859dfa-19a6-47c4-a21b-35b7e9868774",
      "credentials": {
        "discordWebhookApi": {
          "id": "XlcfHXriBUvKnsIj",
          "name": "Discord Webhook Url"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Remove": [
      {
        "json": {
          "headers": {
            "host": "smoggy-rosabelle-konzentrik-754b049a.koyeb.app",
            "cf-ray": "8d79ecdedb9e2ba4-FRA",
            "x-forwarded-for": "2a02:3100:7df9:1700:345c:815d:90c1:34c",
            "x-forwarded-host": "smoggy-rosabelle-konzentrik-754b049a.koyeb.app",
            "user-agent": "node",
            "accept-encoding": "gzip, br",
            "cf-ipcountry": "DE",
            "x-forwarded-proto": "https",
            "sec-fetch-mode": "cors",
            "accept-language": "*",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-server": "FRA",
            "cdn-loop": "cloudflare; loops=1",
            "authorization": "ARNOLD-sklave4falle",
            "cf-connecting-ip": "2a02:3100:7df9:1700:345c:815d:90c1:34c",
            "content-length": "175",
            "x-request-id": "5bb9a849-da4d-9590-9eb4-a7a04f3aab0e",
            "x-koyeb-route": "15e785fd-4492-4458-920b-41ac43a47090-5678_prod",
            "x-koyeb-glb": "fra",
            "x-envoy-original-path": "/webhook-test/remove-workflow",
            "x-koyeb-backend": "fra",
            "x-b3-traceid": "c00eede5956cc48c",
            "x-b3-spanid": "80a4445e45c151ed",
            "x-b3-parentspanid": "6705067d60206cfc",
            "x-b3-sampled": "1"
          },
          "params": {},
          "query": {},
          "body": {
            "n8nApiKey": "n8n_api_1d572ab52194a2539f16a51c985b8c98b19f098baf0cc9796e143c310cb3fd2de97fb9381ddc334f",
            "userId": "clerk-user-id",
            "workflowId": ""
          },
          "webhookUrl": "https://smoggy-rosabelle-konzentrik-754b049a.koyeb.app/webhook-test/remove-workflow",
          "executionMode": "test"
        }
      }
    ]
  },
  "repo_name": "sociabli-workflow-backup",
  "repo_owner": "konzentrik",
  "repo_path": "test2",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-02T14:22:33.094Z",
  "versionId": "e8a7721f-0183-4593-8a8d-98f51b2acefb"
}